.catalog__wrap{
    display: flex;
    padding-top: 20%;
    width: 100%;
    height: auto;
    background-image: url('C:\Users\jerem\OneDrive\Рабочий стол\ciema\src\catalog\bg.jpeg');
    background-size: cover; 

}

.kat__wrapper{
    width: 35%;
}


.kat__menu{
    width: 77%;
    height: auto;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: rgb(228, 225, 225, 0.3);
    margin-left: 12%;
    border-radius: 20px;
    border: 2px solid #ffffff;
}


.kat__menu a{
    margin-top: 7vh;
    width: auto;
    height: auto;
    text-align: center;
    border-radius: 50px;
    font-size: 1.65vw;
    text-decoration: none;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    color: rgb(228, 225, 225);
}

.kat__menu h1{
    font-family: "Lobster", cursive;
    font-weight: 400;
    font-size: 3vw;
    color: rgb(228, 225, 225);
    font-style: normal;
}


.products{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    height: auto;
}

.productElem{
    min-width: 290px;
    min-height: 290px;
    margin-right: 3.33%;
    margin-bottom: 3.33%;
    background-size: cover;
}

.productElem img{
    border-radius: 20px;
    min-width: 290px;
    min-height: 290px;
    max-width: 290px;
    max-height: 290px;
    background-size: cover;
}


.kat__menu a.active{
    background-color: #785738;
    padding-left: 10%;
    padding-right: 10%;
}

@media (max-width:920px){
    .catalog__wrap{
        display: block;    
    }
    .kat__wrapper{
        margin-top: 8%;
        align-items: center;
        justify-content: center;
        width: 100%;
        display: flex;
    }

    .kat__menu{
        width: 70%;
        margin-left: 0;
    }

    .kat__menu a{
        margin-top: 3vh;
        font-size: 3.8vw;
    }

    .kat__menu h1{
        font-size: 8vw;
    }

    .products{
        margin-right: 1.66%;
        margin-left: 1.66%;
        margin-top: 10%;
    }}


    @media (max-width:580px){
        .catalog__wrap{
            display: block;    
        }
        .kat__wrapper{
            margin-top: 8%;
            align-items: center;
            justify-content: center;
            width: 100%;
            display: flex;
        }
    
        .kat__menu{
            width: 70%;
            margin-left: 0;
        }
    
        .kat__menu a{
            margin-top: 3vh;
            font-size: 3.8vw;
        }
    
        .kat__menu h1{
            font-size: 8vw;
        }
    
        .products{
            margin-right: 1.66%;
            margin-left: 1.66%;
            margin-top: 10%;
        }

        .productElem{
            min-width: 170px;
            min-height: 170px;
        }
        
        .productElem img{
            min-width: 170px;
            min-height: 170px;
            max-width: 170px;
            max-height: 170px;
            background-size: cover;
        }


    
}

@media (max-width:637px){
    .catalog__wrap{
        display: block;    
    }
    .kat__wrapper{
        margin-top: 8%;
        align-items: center;
        justify-content: center;
        width: 100%;
        display: flex;
    }

    .kat__menu{
        width: 70%;
        margin-left: 0;
    }

    .kat__menu a{
        margin-top: 3vh;
        font-size: 3.8vw;
    }

    .kat__menu h1{
        font-size: 8vw;
    }

    .products{
        margin-right: 1.66%;
        margin-left: 1.66%;
        margin-top: 10%;
    }

    .productElem{
        min-width: 200px;
        min-height: 200px;
    }
    
    .productElem img{
        min-width: 200px;
        min-height: 200px;
        max-width: 200px;
        max-height: 200px;
        background-size: cover;
    }



}


@media (max-width:444px){
    .catalog__wrap{
        display: block;    
    }
    .kat__wrapper{
        margin-top: 8%;
        align-items: center;
        justify-content: center;
        width: 100%;
        display: flex;
    }

    .kat__menu{
        width: 70%;
        margin-left: 0;
    }

    .kat__menu a{
        margin-top: 3vh;
        font-size: 3.8vw;
    }

    .kat__menu h1{
        font-size: 8vw;
    }

    .products{
        margin-right: 1.66%;
        margin-left: 1.66%;
        margin-top: 10%;
    }

    .productElem{
        min-width: 150px;
        min-height: 150px;
    }
    
    .productElem img{
        min-width: 150px;
        min-height: 150px;
        max-width: 150px;
        max-height: 150px;
        background-size: cover;
    }



}



