.header__wrap {
    text-align: center;
    position: relative;
}

.header__wrap h1 {
    margin-top: 20vh;
    font-family: "Lobster", cursive;
    font-weight: 100;
    font-style: normal;
    font-size: 10vh;
    position: relative;
    margin-bottom: 0;
}


.header__wrap p
{
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight:100;
    font-style: normal;
    font-size: 3.5vh;
    color: black;
    position: relative;
    display: inline-block;
}
.header__wrap p::before
{
    content: "";
    position: absolute;
    bottom:150%;
    left: 0;
    width: 100%;
    height: 0.2vh;
    background: linear-gradient(to right, #ff7e5f, #feb47b, #ff7e5f);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    animation: expandLine 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    display: inline-block;
}
.banketi__content
{
    text-align: center;
}
.banketi__content p
{
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 3.5vh;
    margin-left: 10vw;
    margin-right: 10vw;
}
.banketi__imgs {
    margin-top: 15vh;
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    justify-content: center;
    justify-items: center;
    gap: 15px;
  }
  
.banketi__img {
    text-align: center;
    transition: transform 0.3s ease;
}
.banketi__img:hover {
    transform: scale(1.05);
}
.banketi__img img {
    width: 35vh;
    height: 35vh;
    border-radius: 17.5vh;
}
  
.banketi__img p {
    font-family: "Lobster", cursive;
    font-weight: 100;
    font-style: normal;
    font-size: 3vh;
    margin-left: 0;
    margin-right: 0;
}
@media (max-width:1150px) {
    .banketi__imgs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}
@media (max-width: 768px) {

    .banketi__wrapper
    {
        text-align: center;
    }

    .banketi__imgs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .banketi__img img {
        width: 40vh;
        height: 40vh;
        border-radius: 30vh;
    }
  }