.lok__wrap
{
    width: 100%;
    height:100%;
    background-image: url("./lok.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.lok__wrap h2
{
    color: rgba(231, 148, 91);
    font-size: 5vh;
    margin-top: -5vh;
    margin-bottom: 7.5vh;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.lok__head h1 {
    margin-top: 20vh;
    position: relative;
    font-family: "Lobster", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 10vh;
    display: inline-block; 
}

.lok__head h1::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ff7e5f, #feb47b, #ff7e5f);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    animation: expandLine 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    opacity: 0;
    display: inline-block;
}

.locations 
{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: 10vh;
    justify-content: center;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    position: relative;
}
.location {
    display: flex;
    width: 30vw;
    height: auto;
    background-color: rgba(120, 87, 56, 0.5);
    gap: 10px;
    border-radius: 30px;
    border: 2px solid rgba(120, 87, 56);
    position: relative;
    font-size:1.25vw;
}

.loc__info,
.loc__text {
    padding: 10px;
    text-align: left;
}

.loc__info p,
.loc__text p{
    width: 60%;
}
.loc__info {

    display: flex;
    flex-direction: column;
    flex: 3;

}
.loc__info p
{
    margin-left: 20%;
    margin-top: 1vh;
}
.loc__text p 
{
    margin-top: 1vh;
}

.loc__text {

    display: flex;
    flex-direction: column;
    flex: 7;
}
.day1
{
    position: relative;
}
.day1::after
{
    content: '7:30 - 20:00';
   
}
.day2
{
    position: relative;
}
.day2::after
{
    content: '9:00 - 18:00';
}

.day3
{
    position: relative;
}
.day3::after
{
    content: '10:00 - 17:00';
}

.day1::after,
.day2::after,
.day3::after {
    font-weight: bold;
    position: absolute;
    left:75%;
    width:100%;
}
.location:last-child::before {
    content: "Bolderaja";
    position: absolute;
    left: 50%;
    top: -9vh;
    transform: translate(-50%, -50%);
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 5vh;
    color: rgba(231, 148, 91);

}
.location:last-child::after
{
    content: "";
    position: absolute;
    top:-13vh;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ff7e5f, #feb47b, #ff7e5f);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    animation: expandLine 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    opacity: 0;
    display: inline-block;
}
.location:last-child{
    margin-top: 10vh;
    margin-bottom: 5vh;
}
@media (max-width:767px){
    .location
    {
        width: 80%;
        font-size: 1.82vh;
    }
    .day1::after,
    .day2::after,
    .day3::after{
    font-size: 1.82vh;
    left: 85%;
    }


.lok__head h1::after
{
    width: 100%;
}
.lok__head h1
{
    font-size:6vh;
}
.locations{
    font-size:2vh;
}
.day1::after,
.day2::after,
.day3::after{
    left: 85%;
}
.lok__wrap h2{
    font-size: 4vh;
    margin-top: -2vh;
}
.location:last-child::before
{
    font-size: 4vh;
}
}