.foot__wrap
{
	flex: 0 0 auto;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1.5;
	font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
	position: relative;
	
}

.foot__container
{
	max-width: 1170px;
	margin: auto;
}
.row
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
	padding-left: 0;
}
.footer.active {
    margin-top: 155vh;
}
.footer
{
	background-color: rgb(190, 190, 190);
	padding:70px 0;
	height: 25vh;
	padding-top: 0;
	margin-top: 10vh;
	padding-bottom: auto;
}
.social__links img
{
	height: 5vh;
	width: 5vh;
}
.social__links
{
	width: 10vw;
	display: flex;
	justify-content: space-between;
}
.social__links a
{
	margin-left: 1.75vw;
}
.social__links a:first-child
{
	margin-left: 0.5vw;
}
.foot__col
{
	width: 25%;
	padding: 0 15px;
	margin-left: 3vw;
}
.foot__col h4
{
	font-size: 3vh;
	color: white;
	text-transform: capitalize;
	margin-bottom: 30px;
	font-weight: 500;
	position: relative;
	margin-top: 5vh;
}
.foot__col h4::before
{
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #ff7e5f;
	height: 2px;
	box-sizing: border-box;
	width: 5vw;
}
.foot__col a
{
	font-size: 2vh;
	color: chocolate;
	text-decoration: none;
}
@media (max-width:767px)
{
	.foot__container .row .foot__col:first-child
	{
		display: none;
	}
	.foot__col
	{
		width: 37vw;
		margin-left: 4.3vw;
	}.foot__col h4::before
	{
		width: 30vw;
	}
	.social__links
	{
		width: 25vw;
		margin-left: 2vw;
	}
	.footer.active {
		margin-top: 280vh;
	}
	.social__links img
	{
		height: 3vh;
		width: 3vh;
	}
}